In [0]:
# - Load a CSV file using Pandas
# - Build an input pipeline to batch and shuffle the rows using tf.data
# - Map from columns in the CSV to features used to train the model using feature column
# - Build, train, and evaluate a model using Keras.

# We use Cleveland Clinic Foundation for Heart Disease.
# Each row describeas a patient
# Each column describes an attribute.
# There are both numeric and categorical columns

In [0]:
!pip install -q sklearn

In [3]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np

try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 2.x
except Exception:
    pass
import tensorflow as tf

import tensorflow_hub as hub
import tensorflow_datasets as tfds
import pandas as pd
from tensorflow import feature_column
from tensorflow.keras import layers

print("Version: ", tf.__version__)
print("Eager mode: ", tf.executing_eagerly())
print("Hub version: ", hub.__version__)
print("GPU is", "available" if tf.test.is_gpu_available() else "NOT AVAILABLE")

TensorFlow 2.x selected.
Version:  2.0.0-rc0
Eager mode:  True
Hub version:  0.6.0
GPU is available

In [4]:
# Use pandas to create a dataframe
# Pandas is a Python library with many helpful utilities for loading and working with
# structured data. We will use Pandas to download the dataset from a URL, and load it into dataframe.

URL = 'https://storage.googleapis.com/applied-dl/heart.csv'
dataframe = pd.read_csv(URL)
dataframe.head()

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

In [5]:
from sklearn.model_selection import train_test_split

# Split the dataframe into train, validation, and test
train, test = train_test_split(dataframe, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)

print(len(train), 'train examples')
print(len(val), 'validaiton examples')
print(len(test), 'test examples')

193 train examples
49 validaiton examples
61 test examples

In [6]:
train.shape

(193, 14)

In [7]:
print(type(train))

<class 'pandas.core.frame.DataFrame'>

In [8]:
train.head()

     age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca    thal  target
78    62    0   4       124   209  ...      0.0      1   0  normal       0
111   54    0   3       110   214  ...      1.6      2   0  normal       0
273   46    0   3       142   177  ...      1.4      3   0  normal       0
146   59    1   1       160   273  ...      0.0      1   0  normal       0
258   51    1   3       110   175  ...      0.6      1   0  normal       0

[5 rows x 14 columns]

In [9]:
dict(dataframe)

{'age': 0      63
 1      67
 2      67
 3      37
 4      41
 5      56
 6      62
 7      57
 8      63
 9      53
 10     57
 11     56
 12     56
 13     44
 14     52
 15     57
 16     48
 17     54
 18     48
 19     49
 20     64
 21     58
 22     58
 23     58
 24     60
 25     50
 26     58
 27     66
 28     43
 29     40
        ..
 273    46
 274    58
 275    54
 276    54
 277    60
 278    60
 279    54
 280    59
 281    46
 282    59
 283    60
 284    52
 285    48
 286    45
 287    34
 288    57
 289    71
 290    49
 291    54
 292    59
 293    57
 294    61
 295    39
 296    61
 297    56
 298    52
 299    43
 300    65
 301    48
 302    63
 Name: age, Length: 303, dtype: int64, 'ca': 0      0
 1      3
 2      2
 3      0
 4      0
 5      0
 6      2
 7      0
 8      1
 9      0
 10     0
 11     0
 12     1
 13     0
 14     0
 15     0
 16     0
 17     0
 18     0
 19     0
 20     0
 21     0
 22     0
 23     2
 24     2
 25     0
 26     0
 27     0
 28     0
 29     0
       ..
 273    0
 274    3
 275    0
 276    1
 277    2
 278    0
 279    0
 280    0
 281    0
 282    1
 283    2
 284    1
 285    0
 286    0
 287    0
 288    1
 289    1
 290    3
 291    0
 292    1
 293    1
 294    1
 295    0
 296    0
 297    1
 298    0
 299    0
 300    1
 301    2
 302    3
 Name: ca, Length: 303, dtype: int64, 'chol': 0      233
 1      286
 2      229
 3      250
 4      204
 5      236
 6      268
 7      354
 8      254
 9      203
 10     192
 11     294
 12     256
 13     263
 14     199
 15     168
 16     229
 17     239
 18     275
 19     266
 20     211
 21     283
 22     284
 23     224
 24     206
 25     219
 26     340
 27     226
 28     247
 29     167
       ...
 273    177
 274    216
 275    304
 276    188
 277    282
 278    185
 279    232
 280    326
 281    231
 282    239
 283    258
 284    201
 285    222
 286    260
 287    182
 288    303
 289    265
 290    188
 291    309
 292    177
 293    229
 294    260
 295    219
 296    307
 297    249
 298    186
 299    341
 300    254
 301    256
 302    407
 Name: chol, Length: 303, dtype: int64, 'cp': 0      1
 1      4
 2      4
 3      3
 4      2
 5      2
 6      4
 7      4
 8      4
 9      4
 10     4
 11     2
 12     3
 13     2
 14     3
 15     3
 16     2
 17     4
 18     3
 19     2
 20     1
 21     1
 22     2
 23     3
 24     4
 25     3
 26     3
 27     1
 28     4
 29     4
       ..
 273    3
 274    4
 275    3
 276    4
 277    4
 278    3
 279    3
 280    4
 281    3
 282    4
 283    4
 284    2
 285    4
 286    4
 287    1
 288    4
 289    3
 290    3
 291    2
 292    4
 293    3
 294    4
 295    4
 296    4
 297    4
 298    1
 299    4
 300    4
 301    4
 302    4
 Name: cp, Length: 303, dtype: int64, 'exang': 0      0
 1      1
 2      1
 3      0
 4      0
 5      0
 6      0
 7      1
 8      0
 9      1
 10     0
 11     0
 12     1
 13     0
 14     0
 15     0
 16     0
 17     0
 18     0
 19     0
 20     1
 21     0
 22     0
 23     0
 24     1
 25     0
 26     0
 27     0
 28     0
 29     1
       ..
 273    1
 274    1
 275    0
 276    0
 277    1
 278    0
 279    0
 280    1
 281    0
 282    1
 283    0
 284    0
 285    0
 286    0
 287    0
 288    0
 289    0
 290    0
 291    0
 292    1
 293    0
 294    1
 295    0
 296    1
 297    1
 298    0
 299    1
 300    0
 301    1
 302    0
 Name: exang, Length: 303, dtype: int64, 'fbs': 0      1
 1      0
 2      0
 3      0
 4      0
 5      0
 6      0
 7      0
 8      0
 9      1
 10     0
 11     0
 12     1
 13     0
 14     1
 15     0
 16     0
 17     0
 18     0
 19     0
 20     0
 21     1
 22     0
 23     0
 24     0
 25     0
 26     0
 27     0
 28     0
 29     0
       ..
 273    0
 274    0
 275    1
 276    0
 277    0
 278    0
 279    0
 280    0
 281    0
 282    0
 283    0
 284    0
 285    0
 286    0
 287    0
 288    0
 289    1
 290    0
 291    0
 292    0
 293    0
 294    0
 295    0
 296    0
 297    1
 298    0
 299    1
 300    0
 301    1
 302    0
 Name: fbs, Length: 303, dtype: int64, 'oldpeak': 0      2.3
 1      1.5
 2      2.6
 3      3.5
 4      1.4
 5      0.8
 6      3.6
 7      0.6
 8      1.4
 9      3.1
 10     0.4
 11     1.3
 12     0.6
 13     0.0
 14     0.5
 15     1.6
 16     1.0
 17     1.2
 18     0.2
 19     0.6
 20     1.8
 21     1.0
 22     1.8
 23     3.2
 24     2.4
 25     1.6
 26     0.0
 27     2.6
 28     1.5
 29     2.0
       ...
 273    1.4
 274    2.2
 275    0.0
 276    1.4
 277    2.8
 278    3.0
 279    1.6
 280    3.4
 281    3.6
 282    1.2
 283    2.6
 284    0.8
 285    0.0
 286    0.0
 287    0.0
 288    0.0
 289    0.0
 290    2.0
 291    0.0
 292    0.0
 293    0.4
 294    3.6
 295    1.2
 296    1.0
 297    1.2
 298    0.0
 299    3.0
 300    2.8
 301    0.0
 302    4.0
 Name: oldpeak, Length: 303, dtype: float64, 'restecg': 0      2
 1      2
 2      2
 3      0
 4      2
 5      0
 6      2
 7      0
 8      2
 9      2
 10     0
 11     2
 12     2
 13     0
 14     0
 15     0
 16     0
 17     0
 18     0
 19     0
 20     2
 21     2
 22     2
 23     2
 24     2
 25     0
 26     0
 27     0
 28     0
 29     2
       ..
 273    2
 274    2
 275    0
 276    0
 277    2
 278    2
 279    2
 280    2
 281    0
 282    2
 283    2
 284    0
 285    2
 286    2
 287    2
 288    2
 289    2
 290    0
 291    0
 292    0
 293    2
 294    0
 295    0
 296    2
 297    2
 298    2
 299    2
 300    2
 301    2
 302    2
 Name: restecg, Length: 303, dtype: int64, 'sex': 0      1
 1      1
 2      1
 3      1
 4      0
 5      1
 6      0
 7      0
 8      1
 9      1
 10     1
 11     0
 12     1
 13     1
 14     1
 15     1
 16     1
 17     1
 18     0
 19     1
 20     1
 21     0
 22     1
 23     1
 24     1
 25     0
 26     0
 27     0
 28     1
 29     1
       ..
 273    0
 274    1
 275    0
 276    1
 277    1
 278    1
 279    1
 280    1
 281    1
 282    1
 283    0
 284    1
 285    1
 286    1
 287    1
 288    0
 289    0
 290    1
 291    1
 292    1
 293    1
 294    1
 295    1
 296    0
 297    1
 298    1
 299    0
 300    1
 301    1
 302    0
 Name: sex, Length: 303, dtype: int64, 'slope': 0      3
 1      2
 2      2
 3      3
 4      1
 5      1
 6      3
 7      1
 8      2
 9      3
 10     2
 11     2
 12     2
 13     1
 14     1
 15     1
 16     3
 17     1
 18     1
 19     1
 20     2
 21     1
 22     2
 23     1
 24     2
 25     2
 26     1
 27     3
 28     1
 29     2
       ..
 273    3
 274    2
 275    1
 276    2
 277    2
 278    2
 279    1
 280    3
 281    2
 282    2
 283    2
 284    1
 285    1
 286    1
 287    1
 288    1
 289    1
 290    2
 291    1
 292    1
 293    2
 294    2
 295    2
 296    2
 297    2
 298    2
 299    2
 300    2
 301    1
 302    2
 Name: slope, Length: 303, dtype: int64, 'target': 0      0
 1      1
 2      0
 3      0
 4      0
 5      0
 6      1
 7      0
 8      1
 9      0
 10     0
 11     0
 12     1
 13     0
 14     0
 15     0
 16     0
 17     0
 18     0
 19     0
 20     0
 21     0
 22     0
 23     1
 24     1
 25     0
 26     0
 27     0
 28     0
 29     1
       ..
 273    0
 274    0
 275    0
 276    1
 277    1
 278    0
 279    0
 280    1
 281    0
 282    1
 283    1
 284    0
 285    0
 286    0
 287    0
 288    0
 289    0
 290    1
 291    0
 292    1
 293    0
 294    1
 295    1
 296    0
 297    0
 298    0
 299    1
 300    1
 301    1
 302    1
 Name: target, Length: 303, dtype: int64, 'thal': 0           fixed
 1          normal
 2      reversible
 3          normal
 4          normal
 5          normal
 6          normal
 7          normal
 8      reversible
 9      reversible
 10          fixed
 11         normal
 12          fixed
 13     reversible
 14     reversible
 15         normal
 16     reversible
 17         normal
 18         normal
 19         normal
 20         normal
 21         normal
 22         normal
 23     reversible
 24     reversible
 25         normal
 26         normal
 27         normal
 28         normal
 29     reversible
           ...
 273        normal
 274    reversible
 275        normal
 276    reversible
 277    reversible
 278        normal
 279    reversible
 280    reversible
 281        normal
 282    reversible
 283    reversible
 284        normal
 285        normal
 286        normal
 287        normal
 288        normal
 289        normal
 290    reversible
 291    reversible
 292    reversible
 293    reversible
 294    reversible
 295    reversible
 296    reversible
 297        normal
 298         fixed
 299    reversible
 300    reversible
 301    reversible
 302    reversible
 Name: thal, Length: 303, dtype: object, 'thalach': 0      150
 1      108
 2      129
 3      187
 4      172
 5      178
 6      160
 7      163
 8      147
 9      155
 10     148
 11     153
 12     142
 13     173
 14     162
 15     174
 16     168
 17     160
 18     139
 19     171
 20     144
 21     162
 22     160
 23     173
 24     132
 25     158
 26     172
 27     114
 28     171
 29     114
       ...
 273    160
 274    131
 275    170
 276    113
 277    142
 278    155
 279    165
 280    140
 281    147
 282    142
 283    157
 284    158
 285    186
 286    185
 287    174
 288    159
 289    130
 290    139
 291    156
 292    162
 293    150
 294    140
 295    140
 296    146
 297    144
 298    190
 299    136
 300    127
 301    150
 302    154
 Name: thalach, Length: 303, dtype: int64, 'trestbps': 0      145
 1      160
 2      120
 3      130
 4      130
 5      120
 6      140
 7      120
 8      130
 9      140
 10     140
 11     140
 12     130
 13     120
 14     172
 15     150
 16     110
 17     140
 18     130
 19     130
 20     110
 21     150
 22     120
 23     132
 24     130
 25     120
 26     120
 27     150
 28     150
 29     110
       ...
 273    142
 274    128
 275    135
 276    120
 277    145
 278    140
 279    150
 280    170
 281    150
 282    110
 283    150
 284    134
 285    122
 286    115
 287    118
 288    128
 289    110
 290    120
 291    108
 292    140
 293    128
 294    120
 295    118
 296    145
 297    125
 298    118
 299    132
 300    135
 301    130
 302    150
 Name: trestbps, Length: 303, dtype: int64}

In [0]:
# Create an input pipeline using tf.data
# Wrap the dataframes with tf.data
# This will enable to sue feature columns as a bridge to map from the columns in the Pandas dataframe
# to features used to train the model. If we were working with a very large CSV file
# so large that it does not fit into memory, use tf.data to read it from dist directly.

# - Enable to use feature columns as a bridge to map from columns in the Pandas dataframe 
# to features used to train the model.
# - Enable working with large CSV file directly disk.

# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
    dataframe = dataframe.copy()
    labels = dataframe.pop('target')
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    if shuffle:
        ds = ds.shuffle(buffer_size=len(dataframe))
    ds = ds.batch(batch_size)
    return ds

In [0]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [0]:
# Demonstrate several types of feature column
# how transfomr a column from the dataframe.
# We will use this batch to demonstrate several types of feature columns
example_batch = next(iter(train_ds))[0]

In [13]:
example_batch

{'age': <tf.Tensor: id=108, shape=(5,), dtype=int32, numpy=array([57, 53, 65, 58, 66], dtype=int32)>,
 'ca': <tf.Tensor: id=109, shape=(5,), dtype=int32, numpy=array([1, 0, 0, 0, 1], dtype=int32)>,
 'chol': <tf.Tensor: id=110, shape=(5,), dtype=int32, numpy=array([335, 234, 269, 283, 278], dtype=int32)>,
 'cp': <tf.Tensor: id=111, shape=(5,), dtype=int32, numpy=array([4, 4, 3, 1, 3], dtype=int32)>,
 'exang': <tf.Tensor: id=112, shape=(5,), dtype=int32, numpy=array([1, 0, 0, 0, 0], dtype=int32)>,
 'fbs': <tf.Tensor: id=113, shape=(5,), dtype=int32, numpy=array([0, 0, 0, 1, 0], dtype=int32)>,
 'oldpeak': <tf.Tensor: id=114, shape=(5,), dtype=float64, numpy=array([3. , 0. , 0.8, 1. , 0. ])>,
 'restecg': <tf.Tensor: id=115, shape=(5,), dtype=int32, numpy=array([0, 2, 0, 2, 2], dtype=int32)>,
 'sex': <tf.Tensor: id=116, shape=(5,), dtype=int32, numpy=array([1, 0, 0, 0, 0], dtype=int32)>,
 'slope': <tf.Tensor: id=117, shape=(5,), dtype=int32, numpy=array([2, 1, 1, 1, 2], dtype=int32)>,
 'thal': <tf.Tensor: id=118, shape=(5,), dtype=string, numpy=
 array([b'reversible', b'normal', b'normal', b'normal', b'normal'],
       dtype=object)>,
 'thalach': <tf.Tensor: id=119, shape=(5,), dtype=int32, numpy=array([143, 160, 148, 162, 152], dtype=int32)>,
 'trestbps': <tf.Tensor: id=120, shape=(5,), dtype=int32, numpy=array([110, 138, 155, 150, 146], dtype=int32)>}

In [0]:
# A utility method to create a feature column
# and to transform a batch of data
def demo(feature_column):
    feature_layer = layers.DenseFeatures(feature_column)
    print(feature_layer(example_batch).numpy())

In [15]:
age = feature_column.numeric_column('age')
demo(age)

WARNING:tensorflow:Layer dense_features is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

[[57.]
 [53.]
 [65.]
 [58.]
 [66.]]

In [16]:
# Bucketized columns
# Split its values into different categories based on numerical ranges.
age_buckets = feature_column.bucketized_column(age, 
                                               boundaries=[
                                                   18, 25, 30, 35, 40, 45, 50, 
                                                   55, 60, 65])
demo(age_buckets)

WARNING:tensorflow:Layer dense_features_1 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

[[0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]]

In [17]:
# Categorical columns
# thla is represented as a string(e.g. 'fixed', 'normal', or 'reversible').
# We cannot feed strings directly to a model. instead, We must first map them to
# numerical values.
# The categorical vocabulary columns provide a way to represent strings as a
# one-hot vector.
thal= feature_column.categorical_column_with_vocabulary_list(
        'thal', ['fixed', 'normal', 'reversible'])
thal_one_hot = feature_column.indicator_column(thal)
demo(thal_one_hot)

WARNING:tensorflow:Layer dense_features_2 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:From /tensorflow-2.0.0-rc0/python3.6/tensorflow_core/python/feature_column/feature_column_v2.py:4273: IndicatorColumn._variable_shape (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From /tensorflow-2.0.0-rc0/python3.6/tensorflow_core/python/feature_column/feature_column_v2.py:4328: VocabularyListCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
[[0. 0. 1.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]]

In [18]:
# Embedding columns
# Suppose instead of having just a few possible strings,
# we have thousands value per category.
# It becomes infeasible to train a neural network using one-hot encoding.
# embedding column represents that data as a lower-dimensional, dense vector
# in which each cell can contain any number not just o or 1.

thal_embeding = feature_column.embedding_column(thal, dimension=8)
demo(thal_embeding)

WARNING:tensorflow:From /tensorflow-2.0.0-rc0/python3.6/tensorflow_core/python/feature_column/feature_column_v2.py:353: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:Layer dense_features_3 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:From /tensorflow-2.0.0-rc0/python3.6/tensorflow_core/python/ops/embedding_ops.py:802: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
[[ 0.3046827   0.07038603  0.27071437 -0.11826431 -0.2586297  -0.08367944
   0.4283494  -0.45772415]
 [ 0.40438667 -0.34478182  0.53307986  0.4064149   0.02908956 -0.02926443
   0.31119844 -0.21635504]
 [ 0.40438667 -0.34478182  0.53307986  0.4064149   0.02908956 -0.02926443
   0.31119844 -0.21635504]
 [ 0.40438667 -0.34478182  0.53307986  0.4064149   0.02908956 -0.02926443
   0.31119844 -0.21635504]
 [ 0.40438667 -0.34478182  0.53307986  0.4064149   0.02908956 -0.02926443
   0.31119844 -0.21635504]]

In [19]:
# Hashed feature columns
# Another way to represent a categorical column with a large number of values
#This calculates a hash value of the input, then selects one of the hash_bucket_size
# buckets to encode string.
# Not need to provide the vocabulary.
# There may be collisions in which different strings are mappe to the same bucket.

thal_hashed = feature_column.categorical_column_with_hash_bucket(
        'thal', hash_bucket_size=1000)
demo(feature_column.indicator_column(thal_hashed))

WARNING:tensorflow:Layer dense_features_4 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:From /tensorflow-2.0.0-rc0/python3.6/tensorflow_core/python/feature_column/feature_column_v2.py:4328: HashedCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [20]:
# Crossed feature column
# Combining features into a single featue known as feature cross.
# Note that crossed_column does not build the full table of all possible
# combinations (which could be very large).
# Instead, it is backed by a hashed_column, so you can choose how large
# table is.
crossed_feature = feature_column.crossed_column([age_buckets, thal], 
                                                hash_bucket_size=1000)
demo(feature_column.indicator_column(crossed_feature))

WARNING:tensorflow:Layer dense_features_5 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:From /tensorflow-2.0.0-rc0/python3.6/tensorflow_core/python/feature_column/feature_column_v2.py:4328: CrossedColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [0]:
# Now we use feature columns to train a model.

# key point: If the aim is to build an accurate model, try a large dataaset, and
# think carefully about which features are the most meaningful to include, and
# how they should be represented

feature_columns = []

# numeric cols
for header in ['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'slope', 'ca']:
    feature_columns.append(feature_column.numeric_column(header))

# bucketized cols
age_buckets = feature_column.bucketized_column(age, boundaries=[18, 25, 30, 35, 40, 45, 50, 55, 60, 65])
feature_columns.append(age_buckets)

# indicator cols
thal = feature_column.categorical_column_with_vocabulary_list(
      'thal', ['fixed', 'normal', 'reversible'])
thal_one_hot = feature_column.indicator_column(thal)
feature_columns.append(thal_one_hot)

# embedding cols
thal_embedding = feature_column.embedding_column(thal, dimension=8)
feature_columns.append(thal_embedding)

# crossed cols
crossed_feature = feature_column.crossed_column([age_buckets, thal], hash_bucket_size=1000)
crossed_feature = feature_column.indicator_column(crossed_feature)
feature_columns.append(crossed_feature)

In [0]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [0]:
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [0]:
model = tf.keras.Sequential([
    feature_layer,
    layers.Dense(128, activation='relu'),
    layers.Dense(128, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

In [0]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'],
              run_eagerly=True)

In [26]:
model.fit(train_ds,
          validation_data=val_ds,
          epochs=5)

WARNING:tensorflow:Layer sequential is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 1/5
7/7 [==============================] - 1s 165ms/step - loss: 1.6923 - accuracy: 0.6010 - val_loss: 0.0000e+00 - val_accuracy: 0.0000e+00
Epoch 2/5
7/7 [==============================] - 0s 63ms/step - loss: 0.6050 - accuracy: 0.6580 - val_loss: 0.7863 - val_accuracy: 0.7143
Epoch 3/5
7/7 [==============================] - 0s 62ms/step - loss: 0.7799 - accuracy: 0.6736 - val_loss: 0.4296 - val_accuracy: 0.7959
Epoch 4/5
7/7 [==============================] - 0s 62ms/step - loss: 0.7599 - accuracy: 0.7047 - val_loss: 0.5497 - val_accuracy: 0.7347
Epoch 5/5
7/7 [==============================] - 0s 62ms/step - loss: 0.5494 - accuracy: 0.6943 - val_loss: 0.6047 - val_accuracy: 0.6122

In [27]:
loss, accuracy = model.evaluate(test_ds)
print('Accuracy', accuracy)

2/2 [==============================] - 0s 38ms/step - loss: 0.6401 - accuracy: 0.6393
Accuracy 0.6393443

In [0]:
# When working with a small dataset, recommended using a decision tree or
# ranodm forest as a string baseline.